<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      body {
          background-image: url("/static/img/bg.png"); /* Adjust the path accordingly */
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #46494d; /* Fallback color */
      }
  </style>
</head>
<body style="background-color: #46494d;">
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Samuel Paulo Avelino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Loloy Company</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Machine Learning Models
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="{{ url_for('classification') }}">Classification</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('regression') }}">Regression</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- navigation END -->
    &nbsp;
    <div class="container">
      <div class="card border-dark mt-5">
          <div class="card-header text-bg-dark"><h5 class="card-title">Regression | Insurance Predictor </h5></div>
          <div class="card-body">
            <!-- Card Content -->
            <form id="classification_predict">
              <div class="row">
                <div class="col">
                  <input id="age" type="text" class="form-control" placeholder="Age" aria-label="Age">
                </div>
                <div class="col">
                  <!-- Update the value attribute for male and female -->
                  <select id="sex" class="form-control">
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                  </select>
                </div>
              </div>
            
              <div class="row mt-3">
                <div class="col">
                  <input id="bmi" type="text" class="form-control" placeholder="BMI" aria-label="BMI">
                </div>
                <div class="col">
                  <input id="children" type="text" class="form-control" placeholder="Children" aria-label="Children">
                </div>
                <div class="col">
                  <!-- Update the value attribute for smoker and non-smoker -->
                  <select id="alcoholic" class="form-control">
                    <option value="1">Alcoholic</option>
                    <option value="0">Non Alcoholic</option>
                  </select>
                </div>
              </div>
            
              <button type="button" class="btn btn-success mt-3" onclick="predict_reg()">Predict</button>
            </form>
            
            
            <!-- card content end -->
          </div>
        </div>

    </div>

    <script>
      function predict_reg() {
      // Collect form data
      var formData = {
        'age': document.getElementById('age').value,
        'bmi': document.getElementById('bmi').value,
        'sex': document.getElementById('sex').value,
        'children': document.getElementById('children').value,
        'alcoholic': document.getElementById('alcoholic').value,
      };

      console.log('Form Data:', formData);

      // Send form data to Flask app
      fetch('/predictreg', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Prediction Result:', data);

        // Handle the prediction result here (e.g., display it using SweetAlert2)
        Swal.fire({
            title: 'Prediction Result',
            text: 'The Insurance Charge is: : ' + data.prediction,
            icon: 'success',
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
      }

  </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>